[user]
	name = Dan Bohea
	email = git@bohea.co.uk
[mergetool]
	keepBackup = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
	process = git-lfs filter-process
[push]
	default = simple
[core]
	excludesfile = /Users/danbohea/.gitignore_global
[credential]
	helper = osxkeychain
